{% extends 'waste_app/base.html' %}

{% block content %}

<h3 class="mb-3">Admin Dashboard</h3>

<table class="table table-bordered table-striped">

<thead class="table-dark">
<tr>
    <th>User</th>
    <th>Location</th>
    <th>Status</th>
    <th>Update Status</th>
</tr>
</thead>

<tbody>

{% for c in complaints %}

<tr>
    <td>{{ c.user.username }}</td>
    <td>{{ c.location }}</td>
    <td>{{ c.status }}</td>

    <td>
        <form method="post">
            {% csrf_token %}

            <input type="hidden" name="cid" value="{{ c.id }}">

            <select name="status" class="form-select">
                <option value="Pending" {% if c.status == "Pending" %}selected{% endif %}>
                    Pending
                </option>

                <option value="In Progress" {% if c.status == "In Progress" %}selected{% endif %}>
                    In Progress
                </option>

                <option value="Resolved" {% if c.status == "Resolved" %}selected{% endif %}>
                    Resolved
                </option>
            </select>

            <button type="submit" class="btn btn-sm btn-success mt-2">
                Update
            </button>
        </form>
    </td>

</tr>

{% empty %}

<tr>
    <td colspan="4" class="text-center">
        No complaints found
    </td>
</tr>

{% endfor %}

</tbody>

</table>

{% endblock %}