{% extends 'waste_app/base.html' %}

{% block content %}

<h4 class="mb-4">All Complaints</h4>

<table class="table table-hover">

<thead class="table-light">
<tr>
    <th>User</th>
    <th>Location</th>
    <th>Status</th>
    <th>Action</th>
</tr>
</thead>

{% for c in complaints %}
<tr>
    <td>{{ c.user.username }}</td>
    <td>{{ c.location }}</td>

    <td>
        <span class="badge 
        {% if c.status == 'Pending' %}bg-warning
        {% elif c.status == 'In Progress' %}bg-primary
        {% else %}bg-success{% endif %}">
        {{ c.status }}
        </span>
    </td>

    <td>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="cid" value="{{ c.id }}">

            <select name="status" >
                <option>Pending</option>
                <option>In Progress</option>
                <option>Resolved</option>
            </select>

            <button class="btn btn-success btn-modern btn-sm">Update</button>
        </form>
    </td>
</tr>
{% endfor %}


{% comment %} <tr>
    <td colspan="4" class="text-center">
        No complaints found
    </td>
</tr> {% endcomment %}

</tbody>

</table>

{% endblock %}